body {
  background-color: hotpink; }

form {
  display: flex;
  flex-direction: column; }

body {
  background-color: #c1c1ac; }

ul {
  list-style: none;
  padding: 0;
  margin: 60px 0; }
  ul li {
    display: inline-block; }
    ul li a {
      text-decoration: none;
      font-size: 25px;
      color: white;
      padding: 20px; }

.boton, .boton--aceptar, .boton--cancelar {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black; }

.boton--aceptar {
  background-color: green;
  color: darkorange; }

.boton--cancelar {
  background-color: red;
  color: darkorange; }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 400px; }
  .grid div {
    margin: auto; }

.card {
  width: 600px;
  height: 1000px; }

.card__images {
  width: 400px;
  height: 280px;
  border-right: 0cm; }

.card__parrafo {
  color: #705454;
  font-size: 18px;
  font-weight: bold; }

.ubicacion {
  width: 600px;
  height: 480px; }

.body {
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0; }

.form {
  width: 450;
  margin: auto;
  background: 0, 0, 0.4;
  max-width: 100px;
  border-radius: 1em;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }
  .form .h1 {
    color: beige;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px; }
    .form .h1 .input, .form .h1 .textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 7px;
      box-sizing: border-box;
      font-size: 17px;
      border: none; }

.boton, .boton--aceptar, .boton--cancelar {
  background: black;
  color: aqua;
  padding: 20px; }
  .boton .boton:hover, .boton--aceptar .boton:hover, .boton--cancelar .boton:hover, .boton .boton--aceptar:hover, .boton--aceptar .boton--aceptar:hover, .boton--cancelar .boton--aceptar:hover, .boton .boton--cancelar:hover, .boton--aceptar .boton--cancelar:hover, .boton--cancelar .boton--cancelar:hover {
    cursor: pointer; }
    @media (max-width: 480px) {
      .boton .boton:hover form, .boton--aceptar .boton:hover form, .boton--cancelar .boton:hover form, .boton .boton--aceptar:hover form, .boton--aceptar .boton--aceptar:hover form, .boton--cancelar .boton--aceptar:hover form, .boton .boton--cancelar:hover form, .boton--aceptar .boton--cancelar:hover form, .boton--cancelar .boton--cancelar:hover form {
        width: 100%; } }

.form__container {
  width: 400px;
  display: grid;
  gap: 2px;
  grid-auto-columns: 100%; }

.form__title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .4em; }

.form__cta {
  font-family: inherit;
  font-size: 1rem;
  background-color: black;
  color: azure;
  border: none;
  font-weight: 300;
  padding: .7em 0;
  border-radius: .2em; }
