body {
  background-color: hotpink; }

form {
  display: flex;
  flex-direction: column; }

body {
  background-color: #a1a17e; }

ul {
  list-style: none;
  padding: 0;
  margin: 60px 0; }
  ul li {
    display: inline-block; }
    ul li a {
      text-decoration: none;
      font-size: 25px;
      color: white;
      padding: 20px; }

.boton, .boton--aceptar, .boton--cancelar {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black; }

.boton--aceptar {
  background-color: green;
  color: darkorange; }

.boton--cancelar {
  background-color: red;
  color: darkorange; }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 400px; }
  .grid div {
    margin: auto; }

.card {
  width: 600px;
  height: 1000px; }

.card__images {
  width: 400px;
  height: 280px; }

.card__parrafo {
  color: #705454;
  font-size: 18px;
  font-weight: bold; }

.ubicacion {
  width: 600px;
  height: 480px; }

.form {
  width: 100;
  margin: 100;
  max-width: 100px;
  border-radius: 1em;
  padding: 3.5em 1.5em; }

.form__container {
  width: 400px;
  display: grid;
  gap: 2px;
  grid-auto-columns: 100%; }

.form__title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .4em; }

.form__input {
  font-family: inherit;
  font-size: 1rem;
  padding: 8em 1em; }

.form__cta {
  font-family: inherit;
  font-size: 1rem;
  background-color: black;
  color: azure;
  border: none;
  font-weight: 300;
  padding: .7em 0;
  border-radius: .2em; }
