@mixin estilo-letra {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(159 , 150 ,135);
    @include estilo-letra;
}




ul {
    list-style: none;
    padding: 0;
    margin: 60px 0;

   li  {

        display: inline-block;

        a {
            text-decoration: none;
            font-size: 35px;
            color:antiquewhite;
            padding: 30px;
            
            &:hover {
                color: black;
            }     
        }

        

    }

}
                
        
.boton {
    width: 200px;
    height: 30px;
    background-color: black;
    text-align: center;
    color: aqua;
    border-radius: 20px;
    border: 1px solid black;
}

.boton--aceptar{
    @extend .boton;
    background-color: green;
    color: darkorange;
}

.boton--cancelar{
    @extend .boton;
    background-color: red;
    color: darkorange;
}

.grid {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}

@media ( min-width: 768px) {
.grid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 400px;
    justify-items: center;
    div{
        margin: 12px;
    }

} 

}



.card{
    width: 600px ;
    height: 1000px;
}

.card__images {
    width:250px;
    height:250px;
    transition: 0.5 s;
    border-radius: 20px;

    &:hover{

        transform: scale(1.2);
    }
}


.card__parrafo {
    color: rgb(104, 89, 89);
    font-size: 18px;
    font-weight: bold;
}

.ubicacion {
    width:45%;
    height:48%;
    border-radius: 10%;
}    

.form{
    
    background-color: rgb(115, 132, 87);
    padding: 10%;
    border-radius: 100px;





div{
    display: flex;
    flex-direction: column;
    
textarea{

    max-width: 100%;
}

}
}





















      


    
        

    


     

    
 